!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascript... FOR SCIENCE!

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Noto+Serif:400,400italic')
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

  body

    article

        section.title
            hr.flourish
            h1 Javascript... FOR SCIENCE!
            hr.flourish
            h3.fancy Testing This: murr

        section.angelina
            hr.flourish
            h1 I'm Angelina Fabbro
            hr.flourish

        section.angelina-work
            hr.flourish
            h1 I work for Mozilla
            hr.flourish

        section
            hr.flourish
            h1 I am Dr. Bill Mills
            hr.flourish
        section
            hr
            h1 I work for TRIUMF
            hr
            h2 Canada's national lab for nuclear physics.

        section
            hr
            h1 Moore's Law Applied to Physics
            hr

        section
            img(src='chart.png', class='atlas')

        section(data-bespoke-state='emphatic')
            img(src='ATLAS.png', class='atlas')

        section(data-bespoke-state='emphatic')
            img(src='GRIFFIN.png')

        section
            h2 Image of crappy UI/table dump

        section
            hr
            h1  Sometimes You Just Don't Know Better
            hr

        section
            p (Screenshot of a HUGE FILE of > 25k lines or something insane)

        section
            hr
            h1 An Impetus to Write Unmaintainable Code
            hr

        section
            p (Angelina goes through another example, maybe with tons of nesting)

        section
            p (placeholder slide for Bill to insert his stuff before going back to Angelina)

        section
            hr
            h1 Getting in the Way of Yourself
            hr

        section
            p (NASA Space Apps Challenge Logo)

        section
            hr
            h1 You Don't Have to Do Everything Yourself
            hr

        section
            hr
            h1 Science Should Always Be A Collaboration
            hr

        section
            hr
            h1 How Do We Adapt Our Culture?
            hr

        section
            hr
            h1 Programmers: Just because you are not a scientist does not mean you can't contribute
            hr

        section
            hr
            h1 Scientists: If you are not a software engineer you are out of your domain
            hr


    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')

