!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascript... FOR SCIENCE!

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Noto+Serif:400,400italic')
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

        section.title
            hr.top
            h1 Javascript... FOR SCIENCE!
            hr.bottom
            h2 the need for interdisciplinary co-operation

        section
            hr.top
            h1 I'm Angelina Fabbro
            hr.bottom
            h2 @angelinamagnum on Twitter

        section.cover
            img(src="img/red-panda.gif")
            div.tint
                h1 I work for Mozilla
                h2 I work on Firefox OS
                h2 but also: I spend a lot of time teaching

        section
            hr.top
            h1 I am Dr. Bill Mills
            hr.bottom
            h2 @billdoesphysics on twitter

        section.cover.text
            img(src='img/8pi.jpg', class='fade')
            div.tint
                h1 I work for TRIUMF
                h2 Canada's national lab for nuclear physics.

        section
            hr.top
            h1 Let's Change the World
            hr.bottom

        section.black
            h1 REALTALK

        section
            hr.top
            h1 Moore's Law, CERN Style
            hr.bottom

        section.black
            img(src='img/chart.png', class='chart')

        section.black
            img(src='img/ATLAS.png', class='atlas')

        section
            hr.top
            h1 Sometimes You Just Don't Know Better
            hr.bottom

        section.white
            img(src='img/programming.gif')

        section.sublime
            img(src='img/pyramidOdoom.png', class='wideCode')

        section.sublime
            img(src='img/cutandpaste.png', class='wideCode')

        section.sublime
            img(src='img/codeForever.png', class='tallCode') 

        section.cover
            img(src='img/cheat-pegs.gif', class="exception")       

        section
            hr.top
            h1 An Impetus to Write Unmaintainable Code
            hr.bottom

        section.cover
            img(src='img/debuggin.gif')

        section
            h1 But Not All Labs Science The Same!

        section.black
            img(src='img/GRIFFIN.png', class='GRIFFIN')

        // Explain that software developers can science, and physicists should accept help

        section
            hr.top
            h1 Getting in the Way of Yourself
            hr.bottom

        section.black
            img(src='img/spaceApps.jpg', class='tallCode') 

        section
            hr.top
            h1 You Don't Have to Do Everything Yourself
            hr.bottom

        section.cover
            img(src='img/frustrated.gif')

        section
            hr.top
            h1 Science Should Always Be A Collaboration
            hr.bottom

        section
            hr.top
            h1 How Do We Adapt Our Culture?
            hr.bottom

        section
            hr.top
            h1 Programmers: 
            h1 Just because you are not a scientist does not mean you can't contribute
            hr.bottom

        section
            hr.top
            h1 Educate scientists on the merits of open-sourcing their code
            hr.bottom

        section
            hr.top
            h1 Code Reviews
            hr.bottom

        section
            hr.top
            h1 Code Refactoring
            hr.bottom

        section
            hr.top
            h1 UI Design & Strategy
            hr.bottom

        section.black
            img(src='img/css.gif')

        section
            hr.top
            h1 Scaling Infrastructure
            hr.bottom

        // Angelina's shoutout to scientists    

        section
            hr.top
            h1 Scientists:
            h1 If you are not a software engineer you are out of your domain
            hr.bottom

        section
            hr.top
            h1 Get Your Code in the Open
            hr.bottom

        section
            hr.top
            h1 Bring Software Developers and Computing Scienists On Board
            hr.bottom

        section
            hr.top
            h1 Preferably Bring Them in EARLY!
            hr.bottom

        section
            hr.top
            h1 Just Be Okay Admitting You Write Crap Code Sometimes
            hr.bottom

        section.cover
            img(src='img/kittenmilk.gif')

        section
            hr.top
            h1 TDD/BDD
            hr.bottom
            h2 (test-driven-development/behavior-driven-development)

        section
            hr.top
            h1 Modularization of Your Code
            hr.bottom

        section.cover
            img(src='img/powersCombine.gif')
            div.tint                        
                h1 Let Our Powers Combine


        section.light-grey
            img(src='img/strangeLoop.png', class='strangeLoop')

        section.black
            h1 interdisciplinaryprogramming.com
            h2 (tell your friends)

        section
            h1 THANKS STRANGE LOOP!
            h2 with love 
            img(src='img/pixel_heart.png', class='pixHeart inline')
            h1 Angelina Fabbro  /  @angelinamagnum
            h1 Dr. Bill Mills  /  @billdoesphysics

            div.badgeDiv
                img(src='img/mozilla.png', class='affilBadge') 
                img(src='img/nserc.jpeg', class='affilBadge') 
                img(src='img/griffinWhite.png', class='affilBadge')

        // Volume of song goes up a bit as we wave and bow and people clap and stuff


    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')

