!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Javascript... FOR SCIENCE!

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Noto+Serif:400,400italic')
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

  body

    article

        section.title
            hr.flourish
            h1 Javascript... FOR SCIENCE!
            hr.flourish
            h3.fancy Testing This: murr

        section.angelina
            hr.flourish
            h1 I'm Angelina Fabbro
            hr.flourish
            h2 @angelinamagnum on Twitter

        section.angelina-work
            hr.flourish
            h1 I work for Mozilla
            hr.flourish

        section
            hr.flourish
            h1 I am Dr. Bill Mills
            hr.flourish
            h2 @billdoesphysics on twitter

        section
            hr
            h1 I work for TRIUMF
            hr
            h2 Canada's national lab for nuclear physics.

        section
            hr
            h1 Let's Change the World
            hr

        section
            hr
            h1 First: Truth Time
            hr

        section
            hr
            h1 Moore's Law Applied to Physics
            hr

        section.blackBKG(data-bespoke-state='emphatic')
            img(src='chart.png', class='chart')

        section(data-bespoke-state='emphatic')
            img(src='ATLAS.png', class='atlas')

        section
            hr
            h1  Sometimes You Just Don't Know Better
            hr

        section
            img(src='pyramidOdoom.png', class='wideCode')

        section
            img(src='cutandpaste.png', class='wideCode')

        section
            img(src='codeForever.png', class='tallCode')        

        section
            hr
            h1 An Impetus to Write Unmaintainable Code
            hr

        section
            p (Angelina goes through another example, maybe with tons of nesting)

        section(data-bespoke-state='emphatic')
            img(src='GRIFFIN.png', class='GRIFFIN')
        // Explain that software developers can science, and physicists should accept help

        section
            hr
            h1 Getting in the Way of Yourself
            hr

        section
            p (NASA Space Apps Challenge Logo)

        section
            hr
            h1 You Don't Have to Do Everything Yourself
            hr

        section
            hr
            h1 Science Should Always Be A Collaboration
            hr

        section
            hr
            h1 How Do We Adapt Our Culture?
            hr

        section
            hr
            h1 Programmers: Just because you are not a scientist does not mean you can't contribute
            hr

        section
            hr
            h1 Ways You Can Help
            hr

        section
            hr
            h1 Help design software in the early stages of an experiment
            hr

        section
            hr
            h1 Educate scientists on the merits of open-sourcing their code
            hr

        section
            hr
            h1 Code Reviews
            hr

        section
            hr
            h1 Code Refactoring
            hr

        section
            hr
            h1 Developing UI for Monitoring Experiments
            hr

        section
            hr
            h1 Scaling Infrastructure
            hr

        section
            hr
            h1 You have the Power
            hr

        // Angelina's shoutout to scientists    

        section
            hr
            h1 Scientists: If you are not a software engineer you are out of your domain
            hr

        section
            hr
            h1 Get Your Code in the Open
            hr

        section
            hr
            h1 Bring Software Developers and Computing Scienists On Board
            hr

        section
            hr
            h1 Preferably Bring Them in EARLY!
            hr

        section
            hr
            h1 Just Be Okay Admitting You Write Crap Code Sometimes
            hr

        section
            hr
            h1 TDD/BDD
            hr

        section
            p (Show examples of some tests)

        section
            hr
            h1  Modularization of Your Code
            hr

        //Next slide is Bill
        section
            hr
            h1 Let's Team Up
            hr

        // This is Angelina's closing slide stuffs
        // Would love for 'She Blinded Me With Science to start playing quietly'
        section
            p (Image of strange loop logo/angelina closing rant)

        section
            h1 THANKS STRANGE LOOP!
            h2 with love,
            h2 Angelina Fabbro/@angelinamagnum/angelina@mozilla.com
            h2 Dr. Bill Mills/@billdoesphysics/wjmills@triumf.ca
        // Volume of song goes up a bit as we wave and bow and people clap and stuff


    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')

